.interactiveContainer {
    width: 100%;
    font-family: Arial, sans-serif;
}
/* Edit top to fit tabBar height: 35px */
/* Edit height to display full map 500px, limited due to zoom level for Hartford County */
#map {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 500px;
}
.tabBar {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Edit width based on number of tabs to display
In this example, width = 100% divided by 13 = 7.6% */
.tabItem {
    width: 7.6%;
    padding: 2px 0px 2px 0px;
    float: left;
    margin-left: -1px;
    border: #aaa solid 1px;
    border-right: none;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ccc;
}
.tabItem:first-child {
    border-radius: 7px 0px 0 7px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.tabItem:last-child {
    border-radius: 0px 7px 7px 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #aaa;
}
.tabItem:hover {
    color: #E34B4B;
}
.tabItem.selected {
    color: maroon;
    background: #eee;
    box-shadow: inset 1px 1px 7px -2px #555;
    color: white !important;
    font-weight: 400;
    border: 1px solid #E34B4B !important;
    background: #E34B4B !important;
    pointer-events: none;
}
/*Edit width of info box */
.info {
    width: 250px;
    padding: 12px 16px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.info h2 {
    font-size: 15px;
    margin: 0;
}
.info p {
    margin: 0;
}

/*Edit width of legend*/
.legend {
    width: 100px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}
.legend h4 {
  margin: 0;
}

.control-custom {
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 8px 10px;
}

#rangeSlider {
  width: 100px;
}

.range h4 {
  margin: 0;
}